*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Poppins', sans-serif;
}


/* General styles */

html{
  scroll-behavior: smooth;
}

body {

}

img {
  display: block;
  max-width: 100%;
}



